@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@600&family=Playfair+Display:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    font-size:62.5%;
    /* variables for the theaming and minimum reductency */
    --fnt-brand: 'Playfair Display', serif;
    --fnt-brandtag:'Abril Fatface', cursive;
    --fnt-cnt:'Dosis', sans-serif;
    --clr-bg:white;
    --clr-fg:black;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}
#root{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background-color: var(--clr-bg);
}